In [2]:
name=str(input("Enter your name:"))
n=int(input("Enter the number of times:"))
output=name*n
print(output)

VikasVikasVikasVikasVikasVikasVikasVikas

In [10]:
Name=str(input("Enter your Name:" ))
n=int(input("Enter the number of times:"))
#We are assighning the name and the number of times to print to output
output=(Name+"\n")*n
print(output)

vikas
vikas
vikas
vikas
vikas
vikas
vikas
vikas
vikas
vikas

In [1]:
a=5
if a==5:
    print("The value of a is 5")
else:
    print("The value of a is not 5")

The value of a is 5

In [13]:
a=int(input("Enter a number:"))
if a==1:
    print("Sunday")
elif a==2:
    print("Monday")
elif a==3:
    print("Tuesday")
elif a==4:
    print("Wednesday")
elif a==5:
    print("Thursday")
elif a==6:
    print("Friday")
elif a==7:
    print("Saturday")
elif a>7&a<1:
    print("There are only 7 days in a week")

In [15]:
print(len("This is a name"))
print(len("Vikas Kumar"))

14
11

In [19]:
for a in range(5):
    print("This is a message")

This is a message
This is a message
This is a message
This is a message
This is a message

In [21]:
name="     Raiden     "
print(type(name))
print(len(name))
print(len(name.strip()))

<class 'str'>
16
6

In [28]:
numbers = "2,3,4,5,6,8"
nos = numbers.split(',')
print (nos)
sum=0
for item in nos:
    temp=int(item)
    sum=sum+temp
    print(item,type(item),temp,type(temp))
print(sum)

['2', '3', '4', '5', '6', '8']
2 <class 'str'> 2 <class 'int'>
3 <class 'str'> 3 <class 'int'>
4 <class 'str'> 4 <class 'int'>
5 <class 'str'> 5 <class 'int'>
6 <class 'str'> 6 <class 'int'>
8 <class 'str'> 8 <class 'int'>
28

In [31]:
name=input("Enter username: ")
password=input("Enter the password")
print("Your username:{} and password entered is: {}".format(name,password))

Your username:Vikas and password entered is: 123456

In [32]:
#find the sum of n multiples of 2 where n is user input

for i in range(10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [1]:
listex=["one","two","three","four"]
print(listex)

['one', 'two', 'three', 'four']

In [4]:
print(listex[2])

three

In [8]:
if "one" in listex:
    print("Success")

Success

In [9]:
listex.append("five")
print(listex)

['one', 'two', 'three', 'four', 'five']

In [15]:
listex.pop()

'one'

In [23]:
listex.append("one")
listex.append("two")

In [24]:
listex

['three', 'one', 'one', 'two']